@model  MVC5Rev.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Product Details</h2>

<form action="/products/delete/@Model.ProductID" method="post">
    <div class="form-row">
        <div class="form-group">
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            <a href="/products/edit/@Model.ProductID" class="btn btn-outline-warning">Edit</a>
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th>@Html.LabelFor(p => Model.ProductID)</th>
        <td>@Html.DisplayFor(p => Model.ProductID)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(p => Model.ProductName)</th>
        <td>@Html.DisplayFor(p => Model.ProductName)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(p => Model.Price)</th>
        <td>@Html.DisplayFor(p => Model.Price)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(p => Model.DateOfPurchase)</th>
        <td>@Html.DisplayFor(p => Model.DateOfPurchase)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(p => Model.AvailabilityStatus)</th>
        <td>@Html.DisplayFor(p => Model.AvailabilityStatus)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(p => Model.CategoryID)</th>
        <td>@Html.DisplayFor(p => Model.CategoryID)</td>
    </tr>
    <tr>
        <th>BrandID</th>
        <td>@Model.BrandID</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(p => Model.Active)</th>
        @if (Model.Active.HasValue)
        {
            <td>@Html.DisplayFor(p => Model.Active.Value)</td>
}
        else
        {
            <td>@Html.DisplayFor(p => Model.Active.HasValue)</td>
        }
    </tr>
</table>
<a href="/products/index">Back to product list</a>